@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Bitter&family=Teko&display=swap');

body {
    font-family: 'Aleo', serif;
    font-size: 100%;
    background-color: theme("colors.background.50");
}

html.dark body {
    background-color: theme("colors.zinc.800");
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko',sans-serif;
}

.font-heading * {
    font-family: 'Teko',sans-serif;
}